@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap");

:root {
  --primary-color: #6366f1;
  --accent-color: #3f83f8;
  --text-color: #333333;
  --link-color: #2563eb;
  --background-color: #ffffff;
  --light-gray: #f0f0f0;
  --gray: #808080;
  --dark-gray: #555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}
body {
  height: 100vh;
  text-align: center;
  background-color: var(--background-color);
  padding: 0.1rem;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1280px;
  background-color: var(--light-gray);
  padding: 1rem;
}
.logo {
  /* background-color: lightblue; */
  font-size: 2rem;
  font-weight: 700;
  color: var(--text-color);
  text-decoration: none;
  gap: 0.625rem;
  display: flex;
  align-items: center;
}
.logo_icon {
  width: 1.938rem;
  height: 5.875rem;
}
.logo_text {
  font-size: 2rem;
}
.nav {
  display: none;
  gap: 1.5rem;
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
  }
}
.nav_link {
  color: #718096;
  font-size: 1.125rem;
  font-weight: 600;
  transform: color 0.1s;
}
.nav_link:hover {
  color: var(--link-color);
}
.contact_button {
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  font-weight: 600;
  font-size: 1.125rem;
  transition: background-color 0.2s, transform 0.2s;
  border: none;
  outline: none;
  display: none;
}
@media screen and (min-width: 768px) {
  .contact_button {
    display: inline-block;
  }
}

.menu_button {
  display: none;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1.1rem;
}
@media screen and (max-width: 768px) {
  .menu_button {
    display: block;
  }
}
.menu_icon {
  width: 2rem;
  height: 2rem;
}
