@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap");

:root {
  --primary-color: #6366f1;
  --accent-color: #3f83f8;
  --text-color: #333333;
  --link-color: #2563eb;
  --background-color: #ffffff;
  --light-gray: #f0f0f0;
  --gray: #808080;
  --dark-gray: #555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}
body {
  height: 100vh;
  text-align: center;
  background-color: var(--background-color);
  padding: 0.1rem;
}
/* ! Navbar Section Start */
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1280px;
  padding: 1rem;
}
.logo {
  font-size: 2rem;
  font-weight: 700;
  color: var(--text-color);
  text-decoration: none;
  gap: 0.625rem;
  display: flex;
  align-items: center;
}
.logo_icon {
  width: 1.938rem;
  height: 5.875rem;
}
.logo_text {
  font-size: 2rem;
}
.nav {
  display: none;
  gap: 1.5rem;
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
  }
}
.nav_link {
  color: #718096;
  font-size: 1.125rem;
  font-weight: 600;
  transform: color 0.1s;
}
.nav_link:hover {
  color: var(--link-color);
}
.contact_button {
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  font-weight: 600;
  font-size: 1.125rem;
  transition: background-color 0.2s, transform 0.2s;
  border: none;
  outline: none;
  display: none;
}
@media screen and (min-width: 768px) {
  .contact_button {
    display: inline-block;
  }
}

.menu_button {
  display: none;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1.1rem;
}
@media screen and (max-width: 768px) {
  .menu_button {
    display: block;
  }
}
.menu_icon {
  width: 2rem;
  height: 2rem;
}

/* ! Navbar Section End */
/* ! Hero Section Start */
.main_section {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0.6rem;
  align-items: center;
  margin: 0 auto;
}
.content_left {
  text-align: center;
  animation: slideFormLeft 1s ease forwards;
  opacity: 0;
}
@keyframes slideFormLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.section_label {
  font-size: 1.125rem;
  color: var(--primary-color);
  font-weight: 600;
}
.section_title {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--text-color);
  margin: 0.5rem 0;
}
.section_description {
  font-size: 1.125rem;
  color: var(--gray);
  margin-bottom: 1.5rem;
}
.button_group {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: 1rem;
}
.start_button,
.tour_button {
  background-color: var(--accent-color);
  color: var(--background-color);
  padding: 0.5rem 1.5rem;
  border-radius: 0.375rem;
  font-weight: 600;
  font-size: 1.125rem;
  transition: background-color 0.2s, transform 0.2s;
  border: none;
  outline: none;
}
.tour_button {
  background-color: var(--dark-gray);
}
.start_button:hover {
  background-color: #1451bb;
}
.tour_button:hover {
  background-color: #353333;
}

.content_right {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: slideFromRight 1s ease forwards;
  opacity: 0;
}
@keyframes slideFromRight {
  0% {
    opacity: 0;
    transform: translateX(100px); /* start from right side */
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* come to original position */
  }
}

.image_container {
  border: none;
  border-radius: 1.225rem;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  height: 50vh;
}

.section_image {
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .main_section {
    flex-direction: row;
  }
  .content_left {
    width: 50%;
    text-align: left;
  }
  .section_title {
    padding-left: 0;
  }
  .button_group {
    justify-content: flex-start;
    padding-left: 0;
  }
  .section_label {
    font-size: 1rem;
  }
  .section_title {
    font-size: 4rem;
    text-shadow: 13px 12px 4px rgba(0, 0, 0, 0.1);
  }
  .image_container {
    height: 67vh;
  }
  .section_description {
    font-size: 1.25rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 2rem;
    width: 80%;
  }
}
/* ! Hero Section End */

/* ! Company Logo Section Start */
.company_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  animation: slideFormLeft 1s ease forwards;
}
.company_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.6rem;
  padding: 1rem;
  background-color: var(--light-gray);
  border: none;
  border-radius: 0.625rem;
  /* margin-top: 2rem; */
  margin-bottom: 3rem;
  padding: 1.8rem 2.5rem;

}
.company_logo {
  font-size: 1rem;
  font-weight: 500;
  color: var(--gray);
  display: flex;

  gap: 0.5rem;
}
.svg_img {
  height: 1.56rem;
}
.logo_text {
  font-size: 1rem;
  font-weight: 700;
  color: gray;
  text-align: center;
}
.company_title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 1rem;
}
@media screen and (min-width: 640px) {
  .company_grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .company_title {
    font-size: 2.3rem;
    font-weight: bold;
  }
}
/* ! Company Logo Section End */
